@charset "utf-8";

// 单行省略号
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
/* #ifndef APP-NVUE */
// 多行省略号
@mixin ellipsis-1($num:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
/* #endif */


